certifi==2025.4.26
charset-normalizer==3.4.1
Deprecated==1.2.18
gitdb==4.0.12
GitPython==3.1.41
googleapis-common-protos==1.70.0
grpcio==1.71.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.1.0
opentelemetry-api==1.32.1
opentelemetry-distro==0.53b1
opentelemetry-exporter-otlp==1.32.1
opentelemetry-exporter-otlp-proto-common==1.32.1
opentelemetry-exporter-otlp-proto-grpc==1.32.1
opentelemetry-exporter-otlp-proto-http==1.32.1
opentelemetry-instrumentation==0.53b1
opentelemetry-proto==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
packaging==25.0
pluggy==1.5.0
protobuf==5.29.4
pytest==8.3.5
requests==2.32.3
setuptools==75.6.0
smmap==5.0.2
typing_extensions==4.13.2
urllib3==2.4.0
wrapt==1.17.2
zipp==3.21.0
opentelemetry-instrumentation-asyncio==0.53b1
opentelemetry-instrumentation-dbapi==0.53b1
opentelemetry-instrumentation-logging==0.53b1
opentelemetry-instrumentation-sqlite3==0.53b1
opentelemetry-instrumentation-threading==0.53b1
opentelemetry-instrumentation-urllib==0.53b1
opentelemetry-instrumentation-wsgi==0.53b1
opentelemetry-instrumentation-grpc==0.53b1
opentelemetry-instrumentation-requests==0.53b1
opentelemetry-instrumentation-urllib3==0.53b1
